<div id="filter">
	<%= form_tag(root_path, :method => "post") do %>
		<div><%= select_tag(:classification_id, options_for_select(Classification.all.collect{|c| [c.name, c.id]}), :id => "classification_id") %></div>
    <div><%= select_tag(:medium_id, options_for_select(Medium.all.collect{|m| [m.name,m.id]}), :id => "medium_id") %></div>
		<div><%= select_tag(:period_id, options_for_select(Period.all.reverse.collect{|p| [p.start_year.to_s + " - " + p.end_year.to_s, p.id]}), :id => "period_id") %></div>
		<div><%= submit_tag("Go", :id => "go") %></div>
	<% end %>
</div>
