<% item = (row - 1) * 6 + (col - 1) < @items.size ? @items[(row - 1) * 6 + (col - 1)] : nil %>
<li id="thumbnail_<%= row %>_<%= col %>" class="thumbnail row_<%= row %> col_<%= col %>">
  <% if !item.nil? %>
    <a title="<%= item.thumbnail_path %>" href="<%= item_path(item.id) %>" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">
      <img alt="<%= item.thumbnail_path %>" src="<%= item.thumbnail_path %>">
    </a>
  <% end %>
</li>
