<% content_for :head do %>
  	<link rel="stylesheet" type="text/css" href="<%= stylesheet_path("responsive/default") %>" >
	<%= render "items/style/smart_layout" %>
<% end %>

<div id="sidebar">
</div>

<div id="main">
	<div id="cell">
	  <ul>
	    <% (0..CELL_COUNT - 1).each do |i| %>
	      <li id="grid_cell_<%= i %>" class="grid_cell">
	        <div id="grid_item_<%= i %>" class="grid_item <%= i % 2 == 0 ? "even" : "odd" %>">
	          <span class="item_number"><%= i + 1 %></span>
	        </div>
	      </li>
	    <% end %>
	  </ul>
	</div>
</div>

<div id="css_info">
	<p id="layout"></p>
	<p id="v-size"></p>
	<p id="h-size"></p>
	<p>dimensions:  <span id="width">---</span> x <span id="height">---</span></p>
	<p>aspect ratio:  <span id="aspect_ratio">---</span></p>
</div>


