<% content_for :head do %>
	<style type="text/css">
		<%= render "items/style/default.css" %>
	</style>
	<%= render "items/style/smart_layout"%>
<% end %>

<div id="sidebar">
</div>

<div id="main">
	<div id="cell">
	  <ul>
	    <% (0..CELL_COUNT - 1).each do |i| %>
	      <li id="grid_cell_<%= i %>" class="grid_cell">
	        <div id="grid_item_<%= i %>" class="grid_item <%= i % 2 == 0 ? "even" : "odd" %>">
	          <span class="item_number"><%= i + 1 %></span>
	        </div>
	      </li>
	    <% end %>
	  </ul>
	</div>
</div>

<div id="css_info">
	<p>query min height:  <span id="query_min_height"></span></p>
	<p>query min width:  <span id="query_min_width"></span></p>
	<hr>
	<p id="layout_info"></p>
	<hr>
	<p>dimensions:  <span id="dimensions">&lt; Click for Info &gt;</span></p>
	<p>aspect ratio:  <span id="aspect_ratio">&lt; Click for Info &gt;</span></p>
</div>


