<% content_for :head do %>
	<link rel="stylesheet" type="text/css" href="<%= stylesheet_path("mobile") %>" >
	<%= javascript_include_tag "mobile" %>
<% end %>

<div id="work" data-role="page"> 
	<div  data-role="header">Jackie Goldberg</div> 
	<div  data-role="content">
		<ul style="width: <%= THUMBNAIL_WIDTH * THUMBNAIL_COLUMNS + THUMBNAIL_MARGIN * (THUMBNAIL_COLUMNS - 1) %>px;">
			<% 	gray = false
				@items.each_with_index do |item, idx|
					gray = !gray %>
					<li style="width: <%= THUMBNAIL_WIDTH %>px; height: <%= THUMBNAIL_HEIGHT %>px; margin-right: <%= (idx + 1) % THUMBNAIL_COLUMNS == 0 ? "0" : "#{THUMBNAIL_MARGIN}px" %>; margin-bottom: <%= THUMBNAIL_MARGIN %>px;" class="<%= gray ? "gray" : "" %>"></li>
			<% 	end %>
		</ul>
	</div> 
	<!--<div  data-role="footer">Footer</div>--> 
</div>